body { 
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
}
.logo-studio {
    color: #2e2f42;
}
.menu-links .studio,
.menu-links .portfolio,
.menu-links .contact {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
}
.menu-links .studio:hover,
.menu-links .studio:active,
.menu-links .studio:focus,
.menu-links .portfolio:hover,
.menu-links .portfolio:focus,
.menu-links .contact:hover
.menu-links .contact:focus
{
    color: #404bbf;
}
.menu-links .studio:active {
    text-decoration: underline;
}


.menu-contacts .email,
.menu-contacts .phone {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
}
address {
    font-style: normal;
}
.menu-contacts .email:hover,
.menu-contacts .email:focus,
.menu-contacts .phone:hover,
.menu-contacts .phone:focus
{
    color: #404bbf;
}

ul {
    list-style-type: none;
}

.effective-solutions-section {
    background-color: #2e2f42;;
}
.main-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
.order-button {
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
}
.order-button:hover
.order-button:focus {
    background: #404bbf;
    cursor: pointer;
}


h2 {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
h3 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.team-section {
    background-color: #f4f4fd;
}
.guerrero_box {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        text-align: center;
}

.tom-ford-box {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        text-align: center;
}
.camila-garcia-box {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        text-align: center;
}
.daniel-wilson-box {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        text-align: center;
}
footer {
    background-color: #2e2f42;
}
.end-of-the-page-paragraph {
        color: #f4f4fd;
}
footer .logo-studio {
    color: #f4f4fd
 }